*,
*::after,
*::before {
  box-sizing: border-box;
  transition: all 0.1s;
}
::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */
  display: none;
}
html {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.patients {
  padding: 10px 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  background-color: #f3f3f3;
}
.patients .closed {
  flex: 0 0 1%;
}
.patients .closed .patients__info--top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.patients .closed svg {
  transform: rotate(180deg);
}
.patients__info {
  flex: 0 1 49%;
  background-color: #fff;
  border: 1px solid #33beff;
}
.patients__info--top {
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #33beff;
  color: #ffffff;
}
.patients__info--label {
  padding: 10px 5px;
  display: flex;
  align-items: center;
}
.patients__info--label label {
  margin-right: 5px;
}
.patients__info--label input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  border-radius: 0;
  color: #000000;
}
.patients__info--label input:disabled {
  background-color: #fff;
  opacity: 1;
}
.patients__list {
  overflow: hidden;
  flex: 1 0 49%;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}
.patients__list .tabs {
  height: 40px;
  overflow: scroll;
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
}
.patients__list .tabs .tab {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.patients__list .tabs .tab.active {
  color: #33beff;
  border-bottom: 2px solid #33beff;
}
.patients__list .list__main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.patients__list .list__main .list__top,
.patients__list .list__main .list__item {
  padding: 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  font-size: 12px;
}
.patients__list .list__main .list__top--section,
.patients__list .list__main .list__item--section {
  flex: 0 0 33%;
}
.patients__list .list__main .list__ul {
  overflow: scroll;
  max-height: 80%;
}
.patients__list .list__main .list__ul ul .list__item {
  cursor: pointer;
}
.patients__list .list__main .list__ul ul .list__item:hover {
  background-color: rgba(230, 230, 230, 0.3);
}
.patients__list .list__main .list__ul ul .list__item:active {
  background-color: rgba(230, 230, 230, 0.9);
}
.patients__list .list__main .list__ul ul .list__item.active {
  background-color: rgba(230, 230, 230, 0.8);
  border-left: 2px solid #33beff;
}
.patients svg {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
